* {
  box-sizing: border-box;
}

.header {
  height: 50px;
  width: 100%;
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  visibility: hidden;
}
.header:hover {
  transform: scale(0.5);
  transition-duration: 1.5s;
}

#header-left {
  height: 100%;
  width: 20px;
  background-image: url("bg1.png");
}
#header-right {
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 50%;
}

#welcome-text {
  font-size: 40px;
  color: white;
}

#canvas {
  background: black;
  border: 2px solid rgb(58, 255, 58);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -10;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

#left {
  height: 280px;
  width: 100px;
  border: 2px solid rgb(58, 255, 58);
  transform-style: preserve-3d;
  visibility: hidden;
}

.win {
  animation-name: win;
  animation-duration: 4s;
  animation-fill-mode: none;
  background: linear-gradient(
    45deg,
    rgb(240, 14, 229),
    rgb(238, 255, 0),
    rgb(175, 18, 162)
  );
}
@keyframes win {
  0% {
    transform: translateY(20%);
  }

  50% {
    transform: translateY(150%) rotateX(720deg);
  }

  100% {
    transform: translateY(300%);
  }
}

.right {
  height: 560px;
  width: 100px;
  perspective: 1500px;
  background: linear-gradient(
    45deg,
    rgb(87, 87, 87),
    rgb(49, 49, 49),
    rgb(245, 237, 237)
  );
  visibility: hidden;
}
#footer {
  height: 15px;
  width: 90%;
  color: rgb(58, 255, 58);
  z-index: 10;
  font-family: "Orbitron", sans-serif;
}

/*_____M_A_I_N_F_R_A_M_E_____*/

#frame {
  height: 560px;
  width: 1000px;
  padding-top: 60px;
  perspective: 1500px; /*bilo 1000*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.slot {
  width: 30%;
  height: 100%;
  transform-style: preserve-3d;
}

.slot__img {
  position: absolute;
  height: 150px;
  width: 200px;
  border: 1px solid rgb(58, 255, 58);
  top: 30%;
  left: 15%;
}

/*____________*/

.slot__img:nth-child(1) {
  transform: rotateX(0deg), translateZ(200px);
  visibility: hidden;
}

.slot__img:nth-child(2) {
  transform: rotateX(60deg) translateZ(130px);
}
.slot__img:nth-child(3) {
  transform: rotateX(120deg) translateZ(130px);
}
.slot__img:nth-child(4) {
  transform: rotateX(180deg) translateZ(130px);
}
.slot__img:nth-child(5) {
  transform: rotateX(240deg) translateZ(130px);
}
.slot__img:nth-child(6) {
  transform: rotateX(300deg) translateZ(130px);
}
.slot__img:nth-child(7) {
  transform: rotateX(360deg) translateZ(130px);
}

.rotate {
  animation-name: rotate;
  animation-duration: 6s;
  animation-fill-mode: none;
}

@keyframes rotate {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(0px) rotateX(720deg);
  }

  100% {
    transform: rotateX(1440deg);
  }
}
